<!DOCTYPE html>
<head>

    <title>Customer Churn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   
</head>
<body>  

  
  <form action="predicao" method="POST">
  
  
  <label for="Genero">Genero:</label>
  <select id="Genero" name="Genero">
    <option value="Feminino">Feminino</option>
    <option value="Masculino">Masculino</option>
   </select>
<br/>
<br/>
   <label for="Casado">Casado?:</label>
    <select id="Casado" name="Casado">
      <option value="Sim">Sim</option>
      <option value="Nao">Nao</option>
    </select>
<br/>
<br/>
    <label for="Dependentes">Dependentes?:</label>
    <select id="Dependentes" name="Dependentes">
      <option value="Sim">Sim</option>
      <option value="Nao">Nao</option>
    </select> 
<br/>
<br/>
    <label for="ServicoTelefone">Serviço de Telefone:</label>
    <select id="ServicoTelefone" name="ServicoTelefone">
      <option value="Sim">Sim</option>
      <option value="Nao">Nao</option>
    </select> 
<br/>
<br/>
    <label for="ServicoBckupOnline">Serviço de Backup:</label>
    <select id="ServicoBckupOnline" name="ServicoBckupOnline">
      <option value="Sim">Sim</option>
      <option value="Nao">Nao</option>
    </select> 

<br/>
<br/>      
    <label for="ProtecaoEquipamento">Serviço de Proteção:</label>
    <select id="ProtecaoEquipamento" name="ProtecaoEquipamento">
      <option value="Sim">Sim</option>
      <option value="Nao">Nao</option>
</select> 
<br/>
<br/>      
<label for="ServicoSuporteTecnico">Serviço de suporte Técnico:</label>
<select id="ServicoSuporteTecnico" name="ServicoSuporteTecnico">
  <option value="Sim">Sim</option>
  <option value="Nao">Nao</option>
</select> 
<br/>
<br/>      
<label for="ServicoStreamingTV">Serviço de Streaming TV:</label>
<select id="ServicoStreamingTV" name="ServicoStreamingTV">
  <option value="Sim">Sim</option>
  <option value="Nao">Nao</option>
</select> 
<br/>
<br/>      
<label for="ServicoFilmes">Serviço de Filmes:</label>
<select id="ServicoFilmes" name="ServicoFilmes">
  <option value="Sim">Sim</option>
  <option value="Nao">Nao</option>
</select> 
<br/>
<br/> 
<label for="ServicoInternet">Serviço de Internet:</label>
<br/>
<input type="radio" id="Fibra" name="fav_language" value="Fibra">
  <label for="Fibra">Fibra</label><br>
  <input type="radio" id="DSL" name="fav_language" value="DSL">
  <label for="DSL">DSL</label><br>
  <input type="radio" id="Nao" name="fav_language" value="Nao">
  <label for="Nao">Não</label>
<br/>
<br/> 
<label for="TipoContrato">Tipo de Contrato:</label>
<br/>
<input type="radio" id="Mensal" name="fav_language" value="Mensal">
  <label for="Mensal">Mensal</label><br>
  <input type="radio" id="Anual" name="fav_language" value="Anual">
  <label for="Anual">Anual</label><br>
  <input type="radio" id="2ANOS" name="fav_language" value="2ANOS">
  <label for="2ANOS">2 ANOS</label>
<br/>
<br/> 
   <label for="fname">Genero:</label><br>
   <input type="text" id="fname" name="fname" value="John"><br>
   <label for="lname">Casado:</label><br>
   <input type="text" id="lname" name="lname" value="Doe"><br><br>
   
  <input type="submit" value="Enviar">
</form> 
  
     

    </form>
    
</body>
</html>