<!DOCTYPE html>
<head>
    <title>Resposta Churn</title>
    <script>
    
    </script>
</head>
<body style="background-color:rgb(163, 197, 201)"> 
<img src="https://storage.googleapis.com/kaggle-datasets-images/567482/1030103/704c43ddb62aacb8cdf8a04bbfe7ec30/dataset-cover.jpg?t=2020-03-24-11-27-39"  height="200" width="1330" alt="mulher ao telefone">

<br>
<br>

    {% if predicao == 1 %}
        <div style="color:red; text-align: center; font-size: larger;" ><b>Usuário Cancelou - CHURN</b></div>
        <br>
        
        <center>
            <img src="https://thumbs.dreamstime.com/b/agente-f%C3%AAmea-cansado-call-center-do-servi%C3%A7o-ao-cliente-52776588.jpg" width="500">
        </center>

    {% else %}
        <div style="color: green;text-align: center; font-size: larger;"><b>Usuário não Cancelou</b></div>
        <br>
       
        <center>
            <img src="http://revistadocallcenter.com.br/images/imagem_callcenternew4_1138.jpg" width="500">
        </center>
        {% endif %}      

</body>

</html>