<!DOCTYPE html>
<head>
    <title>Resposta Churn</title>
</head>
<body style="background-color:rgb(163, 197, 201)"> 
<img src="https://storage.googleapis.com/kaggle-datasets-images/567482/1030103/704c43ddb62aacb8cdf8a04bbfe7ec30/dataset-cover.jpg?t=2020-03-24-11-27-39"  height="200" width="1600" alt="mulher ao telefone">

    {% if predicao == 1 %}
        <div style="color:red" >Usuário Cancelou</div>
    {% else %}
        <div style="color: green">Usuário não Cancelou</div>
    {% endif %}      
        

</body>

</html>